.jumbotron{
    background-color: #80cbc4;
}

.card-hotel{
    flex: 1 200px;
    /* padding: 0px 10px 20px 10px; */
    margin-top: 10px;

}

.btn{
    width: 100%;
    color: burlywood;
}

.ft{
    background-color:#80cbc4 ;
}

.icons-r {
    padding-right: 10px;
}